version: "3.8"
services: 
  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/parkEz/frontend
      - /parkEz/frontend/node_modules
    stdin_open: true
    tty: true
    


