@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

